.inventory-management {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3em auto;
}
@media only screen and (max-width: 950px) {
  .inventory-management {
    flex-direction: column;
    width: 90%;
  }
  td {
    padding: 2px;
  }
  th {
    padding: 3px;
    font-size: 1em;
  }
  .form-container {
    margin: 2em 0;
  }
}
